@media (max-width:549px) {

  /* header*/
  .header {
    gap: 42%;
  }

  .header__logo {

    width: 150px;
  }

  .header__nav {
    display: none;

  }

  .header__burger {
    display: block;
  }

  .header__nav-burger {
    display: block;
    position: relative;
    left: -400px;
  }

  .header__list-burge {

    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    position: relative;
    top: 102px;
    left: -90px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(235, 127, 127);
    transition: all .5s;
    visibility: hidden;
  }

  .header__activ-burger {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    position: relative;
    top: 102px;
    left: 350px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: all .5s;

  }

  /*hero*/
  .hero__title {
    max-width: 446px;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
  }

  .hero__desc {
    max-width: 446px;
    margin-bottom: 47px;
  }

  .hero__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }

  .hero__btn-left {
    margin: 0;
  }

  /* opportunities_ */
  .opportunities__desc {
    max-width: 446px;
  }

  .opportunities__box {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .opportunities__img {
    min-height: 406px;
  }

  .opportunities__img-one {
    max-width: 324px;
    margin: 0 auto;
  }

  .opportunities__img-two {
    max-width: 237px;
    top: 48%;
    left: 29%;

  }

  .opportunities__desc-card {
    margin: 0 auto;
    max-width: 309px;
  }

  /* extensions */

  .extensions__desc {
    max-width: 404px;
  }

  .extensions__box {
    display: flex;
    flex-direction: column;
  }

  .extensions__card {
    margin: 0 auto;
    max-width: 80%;
  }

  /* gelery */
  .gelery__desc {
    max-width: 447px;
    padding: 10px;
  }

  .gelery__box {
    display: none;
  }

  .gelery__box-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 33px;
    max-width: 400px;
    margin-bottom: 44px;
  }

  .gelery__small-one,
  .gelery__small-two,
  .gelery__small-three,
  .gelery__small-four {
    width: 70%;
    height: 285px;
    background-size: 100% 100%;
    border-radius: 10px;
  }

  .gelery__small-one {
    background-image: url(../img/gelery-img-1.png);
    background-repeat: no-repeat;
  }

  .gelery__small-two {
    background-image: url(../img/gelery-img-8.png);
    background-repeat: no-repeat;
  }

  .gelery__small-three {
    background-image: url(../img/gelery-img-9.png);
    background-repeat: no-repeat;
  }

  .gelery__small-four {
    background-image: url(../img/gelery-img-10.png);
    background-repeat: no-repeat;
  }

  /* partners */

  .partners__icon {
    margin: 0 auto;
    max-width: 286px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .partners__icon-one {
    max-width: 60px;
  }

  .partners__icon-two {
    max-width: 60px;
  }

  .partners__icon-three {
    max-width: 60px;
  }

  .partners__icon-four {
    max-width: 60px;
  }

  .partners__icon-five {
    max-width: 47px;
  }

  .partners__icon-six {
    max-width: 83px;
  }
/* reviews */


  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin: 0 auto;
    max-width: 218px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
}