


html {
  box-sizing: border-box;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/GraphikLCGRegular.ttf);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Graphik;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {

  margin: 0 auto;
  max-width: 1580px;
  padding-bottom: 50px;
  background-color: #181818;
}

/*header*/

.header {
  margin: 0 auto;
  min-height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  margin-bottom: 85px;
}



.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

}

.header__burger {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #43B6FF;
  border-radius: 15px;
  left: 21px;
  cursor: pointer;
}


.header__line-left {
  position: absolute;
  display: block;
  width: 19px;
  height: 4px;
  background-color: white;
  top: 12px;
  left: 4px;
  border-radius: 5px;
  transform: rotate(45deg);
}

.header__activ-left {
  position: absolute;
  display: block;
  width: 29px;
  height: 4px;
  background-color: red;
  top: 17px;
  left: 4px;
  border-radius: 5px;
  transform: rotate(45deg);
}


.header__line-rigth {
  position: absolute;
  display: block;
  width: 14px;
  height: 4px;
  background-color: white;
  top: 12px;
  left: 16px;
  border-radius: 5px;
  transform: rotate(-45deg);
}

.header__activ-rigth {
  position: absolute;
  display: block;
  width: 29px;
  height: 4px;
  background-color: red;
  top: 17px;
  left: 4px;
  border-radius: 5px;
  transform: rotate(-45deg);
}

.header__nav-burger {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-right: 15%;
  padding: 0;
}

.header__item,
.header__btn {
  cursor: pointer;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: white;
}

.header__item {
  transition: all .5s;
}

.header__item:hover {
  scale: 1.2;
  color: yellow;
}

.header__item:focus {
  color: green;

}

.header__item:active {
  color: blue;

}

.header__btn {
  display: inline-flex;
  height: 52px;
  padding: 20px 36px;
  align-items: center;
  flex-shrink: 0;
  background: none;
  border: 1px solid white;
  transition: all .5s;
}

.header__btn:hover,
.hero__btn-left:hover,
.hero__btn-rigth:hover,
.gelery__btn:hover,
.partners__btn:hover {
  color: yellow;
  border: 1px solid yellow;
  background: none;
}

.header__btn:focus,
.hero__btn-left:focus,
.hero__btn-rigth:focus,
.gelery__btn:focus,
.partners__btn:focus {
  color: green;
  border: 1px solid green;
  background: none;
}

.header__btn:active,
.hero__btn-left:active,
.hero__btn-rigth:active,
.gelery__btn:active,
.partners__btn:active {
  color: blue;
  border: 1px solid blue;
  background: none;
}

/*hero*/
.hero {
  min-height: 1200px;
  color: white;
}

.hero__title {
  margin: 0 auto;
  text-align: center;
  font-family: Graphik;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px;
  max-width: 633px;
  letter-spacing: 0.2px;
  display: block;
  margin-bottom: 17px;
}

.hero__desc {
  margin: 0 auto;
  max-width: 795px;
  padding: 10px;
  margin-bottom: 85px;
}

.hero__text {

  text-align: center;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.hero__btn {
  text-align: center;
  margin-bottom: 35px;

}


.hero__btn-left,
.hero__btn-rigth {
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  transition: all .5s;
}

.hero__btn-left {
  background-color: #4452FE;
  margin-right: 35px;
}

.hero__btn-rigth {
  background: none;
  border: 1px solid white;

}

.hero__img {
  display: flex;
  position: relative;
  max-width: 1580px;
  height: 500px;

}

.hero__img-top {
  position: relative;
  width: 40%;
  max-height: 430px;
  flex-shrink: 0;
  background-image: url(../img/img__hero-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 31%;

}

.hero__img-left {
  width: 40%;
  max-height: 430px;
  flex-shrink: 0;
  background-image: url(../img/img__hero-left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 226px;
  left: -29%;

}

.hero__img-rigth {
  width: 40%;
  max-height: 430px;
  flex-shrink: 0;
  background-image: url(../img/img__hero-rigth.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: -29%;
  top: 222px;

}

/*opportunities*/

.opportunities {
  min-height: 1000px;
  margin-bottom: 100px;
}

.opportunities__title,
.opportunities__desc {
  color: white;
}

.opportunities__title {
  text-align: center;
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}

.opportunities__desc {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 80px;
}

.opportunities__desc-text {
  text-align: center;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.opportunities__box {
  display: flex;
  justify-content: center;
}

.opportunities__img {
  position: relative;
}

.opportunities__img-two {
  top: 65%;
  left: 43%;
  position: absolute;
}

.opportunities__desc-card {
  padding: 20px;
  max-width: 309px;
  min-height: 525px;
  color: white;
}

.card__title {
  display: flex;
  padding: 19px 0;
  gap: 10px;
}

.card__desc {
  padding: 10px;
}

/*extensions*/
.extensions {
  text-align: center;
  margin-bottom: 200px;
}

.extensions__title,
.extensions__desc-text {
  color: white;
}

.extensions__title {
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-bottom: 33px;
}

.extensions__desc {
  margin: 0 auto;
  max-width: 552px;
  margin-bottom: 44px;
}

.extensions__desc-text {
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.extensions__box {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.extensions__card {
  max-width: 476px;
  padding: 40px 0;
  display: flex;
  width: 476px;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  background-color: white;
}

.extensions__card-title {
  max-width: 321px;
  text-align: center;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.extensions__card-text {
  max-width: 355px;
  color: #5C5C5C;
  text-align: center;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.extensions__btn {
  display: flex;
  height: 52px;
  padding: 20px 36px;
  align-items: center;
  background: #4452FE;
  color: white;
  border: none;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.extensions__btn:focus {
  background-color: aqua;
}
.extensions__btn:hover {
  background-color: rgb(34, 228, 34);
}
.extensions__btn:active {
  background-color: #5C5C5C;
}
/* Gelery */
.gelery {
  margin-bottom: 100px;
}

.gelery__title,
.partners__title,
.reviews__title {
  color: white;
  text-align: center;
  font-family: Graphik;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.gelery__desc,
.partners__desc {
  margin: 0 auto;
  max-width: 447px;
  text-align: center;
  margin-bottom: 44px;
}

.gelery__text,
.partners__text {
  color: white;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.gelery__box {
  margin: 0 auto;
  max-width: 1087px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  margin-bottom: 44px;
}

.gelery__card {
  width: 225px;
  height: 285px;
  border-radius: 10px;

}

.gelery__card-one {
  background-image: url(../img/gelery-img-1.png);
}

.gelery__card-two {
  background-image: url(../img/gelery-img-2.png);
}

.gelery__card-three {
  background-image: url(../img/gelery-img-3.png);
}

.gelery__card-four {
  background-image: url(../img/gelery-img-4.png);
}

.gelery__card-five {
  width: 395px;
  background-image: url(../img/gelery-img-5.png);
}

.gelery__card-six {
  background-image: url(../img/gelery-img-6.png);
}

.gelery__card-seven {
  width: 395px;
  background-image: url(../img/gelery-img-7.png);
}

.gelery__btn,
.partners__btn {
  width: 185px;
  padding: 10px 30px;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s;
}

/*partners*/
.partners {
  margin-bottom: 100px;
}

.partners__title,
.partners__text {
  color: white;
}


.partners__icon {
  display: flex;
  gap: 74px;
  justify-content: center;
  margin-bottom: 50px;
}

/*reviews*/
.reviews {
  margin-bottom: 100px;
}

.reviews__title {
  margin-bottom: 50px;
}

.reviews__box {
  display: flex;
  margin: 0 auto;
  max-width: 883px;
  gap: 23px;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews__card {
  padding: 40px;
  width: 350px;
  min-height: 200px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.reviews__card-title {
  display: flex;
  gap: 13px;
  margin-bottom: 30px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  gap: 199px;
  color: white;

}

.footer__left {
  display: flex;
  gap: 75px;
}

.footer__title {
  margin-bottom: 40px;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__item,
.footer__item-adress {
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: all .5s;
}

.footer__item:hover {
  scale: 1.2;
  color: yellow;
}

.footer__box {
  display: flex;
  gap: 24px;

}

.footer__list-rigth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.footer__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__icon {
  transition: scale .5s;
}

.footer__icon:hover {
  scale: 1.2;
}